extends ../layouts/default

block content
    each article in articles
        #post.well
            h2.post-title
                a(href='/articles/'+article._id)= article.title
            small Added on&nbsp;
                span.post-added_on= formatDate(article.createdAt, "%Y %m %b %I:%M %p")
                    | &nbsp;by&nbsp;
                    a.post-added_by(href="/users/"+article.user._id)=article.user.name
            .post-tags
                each tag in article.tags.split(',')
                    a.tag(href="/tags/"+tag)
            .post-body
                p=article.body

//    {% if not index %}<a href="{% url home %}" class="btn btn-primary">Back</a>{% endif %}
