!!!
html
	head
		title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body
	.container
		.row
			.span12
				.navbar
					.navbar-inner
						a(href="/").brand Get Blogging - Node
						ul.nav
							li
								a(href="/") Home
							block navigations

		hr
		.row
			.span12.posts
				block content
					p asd


	script
		$('.post-body').jTruncate("p");

		
